/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 *
 * Available Colors Schemes
 *
 * adapta    catppuccin    everforest    navy       paper
 * arc       cyberpunk     gruvbox       nord       solarized
 * black     dracula       lovelace      onedark    yousai
 *
 **/
* {
    background:     #00000000;
    background-alt: #39c5bbFF;
    foreground:     #E5E9F0FF;
    selected:       #81A1C1FF;
    active:         #A3BE8CFF;
    urgent:         #BF616AFF;
}
