[Unit]
Description=Periodically learn Rime words from clipboard history

[Timer]
OnBootSec=15min
OnUnitActiveSec=30min
Persistent=true

[Install]
WantedBy=timers.target
